.login {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 58.091rem;
    background-color: #58AA93;
  }
  
  .login-logo {
    height: 30vmin;
    pointer-events: none;
  }

  .login-form h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #ADCB5C;
  }

  .login-form a {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 12px;
    text-decoration: underline;
    color: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  

  .login-container {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    box-sizing: border-box;
    height: 520px;
    padding: 40px;
    width: 950px;
    gap: 50px;
  }  

  .login-inputs {
    display: flex;
    flex-direction: column;
  }

  .login-buttons {
    padding: 12px;
  }
  

  .confirmLoginTitle {
    font-family: 'Poppins', sans-serif;
    font-size: 18px!important;
    font-weight: 300!important;
  }