.assisted{
  background-color: #58AA93;
}

.sectionAssisted {
  min-height: 850px;
  display: flex;
  justify-content: center;
  padding: 20px 0 20px 0;
}

.containerAssisted {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  height: auto;
  width: 850px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.containerAssisted span {
  font-weight: 700;
}

.assistedData {
  padding-top: 20px;
}

.assistedTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #ADCB5C;
  padding-bottom: 20px;
  text-align: center;
}

.relatorio { 
  text-align: justify;
}
