.assisted{
  min-height: 100vh;
  background-color: #58AA93;
}


.sectionAssisted {
  height: 850px;
  display: flex;
  justify-content: center;
  padding-top: 20px;
}


.containerAssisted {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  width: 850px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.containerAssisted span {
  font-weight: 700;
}

.assistedData {
  padding-top: 20px;
}

.label {
  font-weight: 300;
  font-size: 14px;
}


.assistedTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #ADCB5C;
  padding-bottom: 20px;
  text-align: center;
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.input-register {
  height: 25px;
  width: 350px;
  border: 2px solid #ddd;
  border-radius: 4px;
  font-family: 'Poppins', sans-serif;
  outline: 0;
  transition: .2s;
  margin-bottom: 10px;
}

.input-register:focus {
  border-color: #0f7ef1;
}

