.navbar{
  height: 3.4rem;
  width: auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.navbar h1 {
  padding-right: 100px;
  color: #58AA93;
}


.sair{
  text-decoration: none;
  color: #000;
}

.infoUser {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-weight: 500;
}

.sair {
  font-weight: 500;
  font-size: 16px;
  padding-right: 1rem;
}