.navbar{
  height: 8vh;
  width: auto;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
}

.navbar h1 {
  padding-right: 35px;
  color: #58AA93;
}


.link-navbar{
  text-decoration: none;
  color: #000;
}

.infoUser {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  font-weight: 500;
}

.option-navbar {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-weight: 500;
  font-size: 16px;
  padding-right: 1rem;
}



@media (max-width: 500px){

  .navbar h1 {
    font-size: 12px;
    padding: 0 0 1px 0;
  }

  .infoUser {
    font-size: 12px;
  }

  .option-navbar {
    font-size: 12px;
  }
}