
.sectionRegisterUser {
  height: 92vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #58AA93;
}


.containerRegisterUser {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  align-items: center;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  width: 650px;
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.containerRegisterUser span {
  font-weight: 500;
  font-size: 14px;
  padding-top: 4px;
}


.registerUserTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  color: #ADCB5C;
  padding-bottom: 20px;
}

.form-register {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.confirmRegisterUserTitle {
  font-family: 'Poppins', sans-serif;
  font-size: 18px!important;
  font-weight: 300!important;
}